body {
    background-color: #CCCCCC;
}

h1 {
    text-align: center;
}

#pageContent {
    background-color: #FD7E1D;
    width: 15%;
    height: 460px;
    border-radius: 15px;
    margin: auto;
}

h1,
#pageContent h2 {
    color: #032542;
}

#pageContent p {
    color: #033E64;
}

#footer {
    color: white;
    background-color: #033E64;
    text-transform: uppercase;
    text-align: center;
    border-radius: 15px;
    width: 100%;
    margin-top: 50px;
}

form {
    display: grid;
}

#name {
    grid-area: 1 / 1 / 2 / 2;
    padding: 15px;
    margin: 10px;
}

#description {
    grid-area: 2 / 1 / 3 / 2;
    padding: 15px;
    margin: 10px;
}

#serial {
    grid-area: 3 / 1 / 4 / 2;
    padding: 15px;
    margin: 10px;
}

#statusBox {
    margin-left: 50px;
}

#status {
    grid-area: 4 / 1 / 5 / 2;
    padding: 15px;
    margin: 10px;
}

#priorityBox {
    margin-left: 50px;
}

#priority {
    grid-area: 5 / 1 / 6 / 2;
    padding: 15px;
    margin: 10px;
}

#submit {
    grid-area: 6 / 1 / 7 / 2;
    padding: 10px;
    margin-left: 5px;
    width: 95%;
}

.activeBold {
    font-weight: bold;
    color: #032542;
}

.priorityBold {
    font-weight: bold;
    color: #032542;
}

::placeholder {
    color: #032542;
    opacity: 1;
}

#status {
    accent-color: green;
}

#priority {
    accent-color: gray;
}

#high {
    color: green;
}

#medium {
    color: yellow;
}

#low {
    color: red;
}

#submit {
    background-color: #033E64;
    color: white;
}