body {
    background-color: #CCCCCC;
}

h1 {
    text-align: center;
}

#gruaBox {
    display: inline-block;

}

#gruaBox img {
    width: 400px;
}

#pageContent {
    display: block;
    background-color: #FD7E1D;
    width: 35%;
    height: 930px;
    border-radius: 15px;
    margin: auto;
}

h1,
#pageContent h2 {
    color: #032542;
}

#pageContent p {
    color: #033E64;
}

#footer {
    color: white;
    background-color: #033E64;
    text-align: center;
    text-transform: uppercase;
    border-radius: 15px;
    margin-top: 15px;
    width: 100%;
}

.img {
    display: table;
    margin: 30px;
    border: 3px solid #032542;
}

.img img {
    margin: 0;
    padding: 0;
    width: 400px;
}

.img span {
    line-height: normal;
    font-size: 18px;
    display: table-caption;
    margin: 0;
    padding: 0;
    color: white;
    font-style: italic;
    text-align: center;
    position: relative;
    height: 0;
}